.contact-sitter{
    
    font-size:22px;
    
    select{
        
        margin: 5px!important;
    }
    
    /*if both email & phone inputs are closed*/
    
    .contact-method{
        
        margin-top: 10px;
    }
    
    .contact-method label{
        
        padding-bottom: 5px;
    }
    
    .contact-method.both-closed{
        
       display: inline-block
    }
    
    .checkbox-label{
        display: block;
        padding: 5px 0px;
    }
    
    input[type="email"]{
        width:100%!important;
        max-width: 600px;
    }
    
    @media screen and (min-width:$desktop-width){
        
        input[type="email"]{
       /*width:75%!important;*/
       
    }
    }
}