.contact-sitter {
    font-size: 22px;
    label {
        display: block;
        color: #2D79BE;
    }
    select {
        margin: 5px!important;
    }
    /*if both email & phone inputs are closed*/
    .contact-method {
        margin-top: 5px;
    }
    .contact-method label {
        
        
        
    }
    .contact-method.both-closed {
        display: inline-block
    }
    
    .contact-method.open {
        
    }
    .checkbox-label {
      
        padding: 5px 0px;
    }
    
    .checkbox-label label{
 
     
        display: inline-block;
    }
    input[type="email"] {
        width: 100%!important;
        max-width: 600px;
    }
    @media screen and (min-width:$desktop-width) {
        input[type="email"] {
            /*width:75%!important;*/
        }
    }
}