$footer-background-color: #fafafa;
.footer{
    overflow: hidden;
    .background_image{
        width: 100%;
    }
    /*@media screen and (max-width: 500px){
        .background_image{
            width:auto;
            height: 150px;
        }
    }*/
    .copyright{
        font-size: 15px;
        margin: 0 20px 0 20px;
    }
}

.widget__footer{
    border-top: solid #E8F2F7;

    h3{
        margin-top: 3%;
        border-style: none;
    }
}

#follow-widget{
    textarea{
        margin-top: -9%;
    }
}

#share-widget{

    .share-buttons{
        margin-top: 15%;
    }

    .share-buttons li{
        margin-top: 3%;
        margin-bottom: 3%;
        margin-left: -20%;
    }
}

#beta-and-better-widget{
    textarea{
        margin-top: 13%;
        margin-bottom: -7%;
    }
}

.widget-content{

    display: block;
    margin-top: auto;
    margin-bottom: auto;

    *{
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    p{
        margin-top: 15%;
        margin-bottom: 2%;
    }

    .btn-div, .btn-secondary{
        display: flex;
        margin-left: auto;
        margin-right: auto; 
    }

    .social-links li a{
        //display: inline-flex;
        &:hover{
            background-color: #FEDE00;
        }
    }

    textarea{
        border-radius: 25px;

        &:lang(en){
            text-align: left;
        }
        &:lang(he){
            text-align: right;
        }
    }

    ul > li a{
        background: none;
    }

    //share buttons 
    .resp-sharing-button__link,
    .resp-sharing-button__icon {
        display: inline-block;
    }

    .resp-sharing-button__link {
        text-decoration: none;
        color: #fff;
        margin: 0.5em;
    }

    .resp-sharing-button__link--facebook {
        //padding-left: 1.5em;
        //padding-right: 1.5em;
    }

    .resp-sharing-button {
        border-radius: 5px;
        transition: 25ms ease-out;
        padding: 0.5em 0.75em;
        font-family: Helvetica Neue,Helvetica,Arial,sans-serif
    }

    .resp-sharing-button__icon svg {
        width: 1em;
        height: 1em
    }

    .resp-sharing-button span {
        padding-left: 0.4em
    }

    /* Non solid icons get a stroke */
        .resp-sharing-button__icon {
        stroke: #fff;
        fill: none
    }

    /* Solid icons get a fill */
    .resp-sharing-button__icon--solid,
    .resp-sharing-button__icon--solidcircle {
        fill: #fff;
        stroke: none
    }

    .resp-sharing-button--twitter {
        background-color: #55acee
    }

    .resp-sharing-button--twitter:hover {
        background-color: #2795e9
    }
    
    .resp-sharing-button--facebook {
        background-color: #3b5998
    }

    .resp-sharing-button--facebook:hover {
        background-color: #2d4373
    }

    .resp-sharing-button--google {
        background-color: #dd4b39
    }

    .resp-sharing-button--google:hover {
        background-color: #c23321
    }

    .resp-sharing-button--email {
        background-color: #777
    }

    .resp-sharing-button--email:hover {
        background-color: #5e5e5e
    }

    .resp-sharing-button--facebook {
        background-color: #3b5998;
        border-color: #3b5998;
    }

    .resp-sharing-button--facebook:hover,
    .resp-sharing-button--facebook:active {
        background-color: #2d4373;
        border-color: #2d4373;
    }

    .resp-sharing-button--twitter {
        background-color: #55acee;
        border-color: #55acee;
    }

    .resp-sharing-button--twitter:hover,
    .resp-sharing-button--twitter:active {
        background-color: #2795e9;
        border-color: #2795e9;
    }

    .resp-sharing-button--email {
        background-color: #777777;
        border-color: #777777;
    }

    .resp-sharing-button--email:hover,
    .resp-sharing-button--email:active {
        background-color: #5e5e5e;
        border-color: #5e5e5e;
    }

}