<div >
    <div class="form-row"><label for="citySelect" ng-hide="hideCityHeader">{{'CITY' | translate}}<span class="text-danger" ng-show="locationRequired">*</span></label>
        <select id="citySelect" name="citySelect" ng-model="person.city" ng-required="locationRequired">
            <option value=""></option>
            <option ng-repeat="city in cities" value={{city.name}} ng-selected="{{city.name == person.city}}">
                {{city.text}}
            </option>
        </select>
   
    <div ng-if="neighborhoods"><label for="neighborhoodSelect" id="neighborhoodHeader">{{'NEIGHBORHOOD' | translate}}<span class="text-danger">*</span></label>
        <select id="neighborhoodSelect" name="neighborhoodSelect" ng-model="person.neighborhood" required>
            <option value=""></option>
            <option ng-repeat="neighborhood in neighborhoods" value={{neighborhood.name}} ng-selected="{{neighborhood.name == person.neighborhood}}">
                {{neighborhood.text}}
            </option>
        </select>
    </div>
</div>